/docker export-ignore  
/drafts export-ignore
/tests/original export-ignore
.gitattributes export-ignore  
.gitignore export-ignore
.gitmodules export-ignore
TODO export-ignore
CHECKLIST export-ignore
