# Object files, in general
*.vo
*.vo.aux
*.aux
*.glob
*.o
*.a
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmti
*.cmt

# Emacs saves
*~

*.v.d
_build
*.native
STAMP
extraction/extract/*
extraction/CompCert
*.bak
html
*.c
velus

extraction/extracted

.depend
automake
Makefile.auto
Makefile.config
tools/automake.ml

*.exe