# Object files, in general
*.vo
*.vok
*.vos
*.vio
*.vo.aux
*.aux
*.glob
*.o
*.a
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmti
*.cmt
**/.lia.cache

# Emacs saves
*~

*.lia.cache
*.v.d
_build
*.native
STAMP
extraction/extract/*
extraction/CompCert
*.bak
html
*.c
velus
*.orig
*.conflicts

extraction/extracted

.depend
automake
Makefile.auto
Makefile.config
tools/automake.ml
_CoqProject

*.exe
*.out
*.ff
